.sidebar {
    height: 100%;
    width: 290px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #eeeeee;
    padding-top: 20px;
  }
  
  .sidebar .logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .sidebar .logo img {
    width: 150px;
    height: auto;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 15px;
  }
  
  .sidebar ul li a {
    color: rgb(23, 22, 22);
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 16px;
  }
  
  .sidebar ul li a:hover {
    color: #6d6b6b;
  }
  
  .sidebar ul li a span {
    margin-left: 10px;
  }
  
  .sidebar {
    display: block;
  }
  
  @media (max-width: 1320px) {
    .sidebar {
      display: none;
    }
  }
  