.card {
    width: 100%; /* ปรับขนาดการ์ดให้มีความกว้างสูงสุดที่ 300px */
    height: 100%;
  }
  
  .card-img-top {
    height: 200px; /* กำหนดความสูงของรูปให้เท่ากับ 200px */
    object-fit: cover; /* ให้รูปภาพปรับตามขนาดของคอลัมน์ */
  }
  
  