
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
}
.loader::before,
.loader::after {    
  content:"";
  grid-area: 1/1;
  --c:no-repeat radial-gradient(farthest-side,#25b09b 92%,#0000);
  background: 
    var(--c) 50%  0, 
    var(--c) 50%  100%, 
    var(--c) 100% 50%, 
    var(--c) 0    50%;
  background-size: 12px 12px;
  animation: l12 1s infinite;
}
.loader::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear
}

@keyframes l12 { 
  100%{transform: rotate(.5turn)}
}

.card {
    width: 100%; /* ปรับขนาดการ์ดให้มีความกว้างสูงสุดที่ 300px */
    height: 100%;
  ;
  }
  
  .card-img-top {
    height: 200px; /* กำหนดความสูงของรูปให้เท่ากับ 200px */
    object-fit: cover; /* ให้รูปภาพปรับตามขนาดของคอลัมน์ */
  }
  
  .card-footer {
    padding: 1rem;
  }
  
  .card-footer small {
    font-size: 0.875rem;
  }
  
  .card-footer .btn {
    margin-top: 0;
  }
  